{% extends 'base.html' %}
{% load humanize %}
{% load l10n %}
{% block content %}
    <!-- Hero Section -->
    <div
      class="hero min-h-screen"
      style="background-image: url(static/hero.jpg);">
      <div class="hero-overlay"></div>
      <div class="hero-content text-neutral-content text-center">
        <div class="max-w-md">
          <h1 class="mb-5 text-5xl font-bold">Temukan Lapangan Olahraga Terbaik</h1>
          <p class="mb-5">
            Reservasi mudah, cepat, dan aman untuk semua kebutuhan olahraga Anda.
          </p>
          <a href="#list_field" class="btn btn-primary">Get Started</a>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <!-- Daftar Lapangan -->
    <div class="container mx-auto">
        <div id="list_field" class="flex flex-row justify-between">
            {% for field in fields %}
            <div class="card card-compact bg-base-100 w-96 shadow-xl">
              <figure>
                <img src="{{field.image.url}}" alt="{{field.name}}"/>
              </figure>
              <div class="card-body">
                <h2 class="card-title">{{field.name}}</h2>
                <p>Tipe: {{field.type}}</p>
                <p>Harga per jam: <span class="price-tag">Rp{{field.price_per_hour|intcomma}}</span></p>
                <div class="card-actions justify-center">
                  <a href="/field/{{field.id}}/select-slot" class="btn btn-primary btn-wide">Pilih Lapangan</a>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}