{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto mt-4">
    <div class="card lg:card-side bg-base-100 shadow-xl">
        <figure>
            <img src="{{ field.image.url }}" alt="{{ field.name }}"/>
        </figure>
        <label class="card-body">
            <h2 class="card-title">Pilih Tanggal Kunjungan</h2>
            <form method="get" class="form-control">
                <label class="input input-bordered flex items-center gap-2 mb-4">
                    Tanggal
                    <input type="date" name="date" id="date" class="grow" value="{{ selected_date|default_if_none:'' }}"  required>
                </label>
                <div class="card-actions justify-end">
                    <button type="submit" class="btn btn-primary">Cari Ketersediaan</button>
                </div>
            </form>

            {% if available_slots %}
            <form method="post" action="{% url 'save_reservation' field.id %}" class="form-control">
                {% csrf_token %}
                <strong>Time Slots Tersedia</strong>
                {% for slot in available_slots %}
                <label class="label cursor-pointer">
                    <span class="label-text">{{ slot.start_time|time:"H:i" }} - {{ slot.end_time|time:"H:i" }}</span>
                    <input type="checkbox" name="time_slots" value="{{ slot.id }}" class="checkbox">
                </label>
                {% endfor %}

                <div class="mt-4 mb-4">
                    <strong>Total Harga:</strong> <span id="total-price">Rp0</span>
                </div>
                <input type="hiddne" name="selected_date" value="{{ selected_date|default_if_none:'' }}">
                <input type="hidden" id="price-per-hour" value="{{ field.price_per_hour }}">

                <button class="btn btn-primary" type="submit">Lanjutkan</button>
            </form>
            {% else %}
                <p>Tidak ada time slot tersedia untuk tanggal ini.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
      const pricePerHour = parseFloat(document.getElementById('price-per-hour').value);
      const checkboxes = document.querySelectorAll('input[name="time_slots"]');
      const totalPriceDisplay = document.getElementById('total-price');

      checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', function () {
          const selectedSlots = Array.from(checkboxes)
            .filter(cb => cb.checked)
            .map(cb => cb.value);

          const totalHours = selectedSlots.length;
          const totalPrice = pricePerHour * totalHours;

          totalPriceDisplay.textContent = `Rp${totalPrice}`;
        });
      });
    });
</script>
{% endblock javascript %}